body{
    background-image: linear-gradient( 102.1deg,  rgba(96,221,142,1) 8.7%, rgba(24,138,141,1) 88.1% );
}



.profil{
 text-align: center;
 margin-top: 50px;
}

.profil img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.box-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.box1{
    width: 50%;
    height: 40px;
    margin: 10px;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
    background: #40868B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}

li {
    list-style: none;
    text-align: center;
    font-weight: bold;
    margin-top: -10px;
}

li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    margin-top: -10px;
}

.box1:hover{
    transform: scale(1.1); 
}

li a:hover{
    color: #fff;
}




